<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Book Store</title>
            </f:facet>
        </h:head>

        <h:body>
            <h2>Book Details</h2>
            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    Header
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    Footer
                </p:layoutUnit>
                <!--
                <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                    <p:menu>
                        <p:submenu label="Resources">
                            <p:menuitem value="Demo" url="http://www.primefaces.org/showcase-labs/ui/home.jsf" />
                            <p:menuitem value="Documentation" url="http://www.primefaces.org/documentation.html" />
                            <p:menuitem value="Forum" url="http://forum.primefaces.org/" />
                            <p:menuitem value="Themes" url="http://www.primefaces.org/themes.html" />

                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>
                -->

                <p:layoutUnit position="center">
                    <h2>Book Store Inventory</h2>
                    <p:dataTable var = "books" value="#{bookBean.book}">
                            <p:column headerText="ID">
                                <h:outputText value="#{books.bookId}" />
                            </p:column>
                            <p:column headerText="Title">
                                <h:outputText value="#{books.bookTitle}"/>
                            </p:column>
                            <p:column headerText="Year">
                                <h:outputText value="#{books.bookYear}"/>
                            </p:column>
                            <p:column headerText="Price">
                                <h:outputText value="R #{books.bookPrice}"/>
                            </p:column>
                            <p:column headerText="Category">
                                    <h:outputText value="Book Category"/>
                            </p:column>
                    </p:dataTable>
                    
                </p:layoutUnit>
                
                <!--
                <p:dataTable var = "books" value="#{dtBasicView.books}">
                        <p:column headerText="ID">
                                <h:outputText value="#{books.id}"
                        </p:column>
                        <p:column headerText="Title">
                                <h:outputText value="#{books.title}"
                        </p:column>
                        <p:column headerText="Year">
                                <h:outputText value="#{books.year}"
                        </p:column>
                        <p:column headerText="Price">
                                <h:outputText value="#{books.price}"
                        </p:column>
                        <p:column headerText="Category">
                                <h:outputText value="#{category.description}"
                        </p:column>
                </p:dataTable>
                -->
                
                
            </p:layout>

        </h:body>

    </f:view>
</html>

